<section id="cake-content">
    <div id="cake-left">
        <img src="../../assets/images/{{cake?.name}}.jpg" alt="{{cake?.name}}">
    </div>
    <div id="cake-right">
        <h2 id="heading">{{cake?.name}}</h2>
        <span id="rating">{{cake?.rating}}</span>
        <img src="../../assets/images/rating.jpg" alt="">
        <p id="price"><small>Rs</small>{{cake?.price}} <small>for {{cake?.quantity}}</small></p>

        <!---------------------------------------------------------------------------------->
        <form id="form" (ngSubmit)="makeRequest(orderRequestForm)" #orderRequestForm="ngForm">
            
            <!-- <ng-container *ngIf="cake?.category === 'cake'"> -->
                <mat-form-field appearance="outline" id="messageOnCake">
                    <mat-label>Message on cake</mat-label>
                    <input type="text" matInput name="messageOnCake" [(ngModel)]="cakeRequest.messageOnCake" [disabled]="cake?.category !== 'cake'">
                </mat-form-field>
            <!-- </ng-container> -->

            <mat-form-field appearance="outline">
                <mat-label>Delivery date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="cakeRequest.deliveryDate" 
                [min]="minDate" required name="deliveryDate" #deliveryDate="ngModel">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                
                <mat-error *ngIf="deliveryDate.errors?.['required']">Delivery date is required</mat-error>
            </mat-form-field><br>

            <mat-form-field appearance="outline" id="email">
                <mat-label>Email</mat-label>
                <input type="text" matInput [(ngModel)]="cakeRequest.email" name="email" #email="ngModel" required pattern="^[a-zA-Z_][a-zA-Z0-9_]*@[a-zA-Z0-9]+\.[a-zA-Z]{2,}$">

                <mat-error *ngIf="email.errors?.['required']">Email id is required</mat-error>
                <mat-error *ngIf="email.errors?.['pattern']">Enter valid email id</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" id="phone">
                <mat-label>Phone</mat-label>
                <input type="number" matInput name="phone" [(ngModel)]="cakeRequest.phone" required pattern="^[789]\d{9}$" #phone="ngModel">

                <mat-error *ngIf="phone.errors?.['required']">Phone number is required</mat-error>
                <mat-error *ngIf="phone.errors?.['pattern']">Enter valid phone number containing 10 digits starting with 7/8/9</mat-error>
            </mat-form-field><br>

            <mat-form-field appearance="outline" id="pincode">
                <mat-label>Pincode</mat-label>
                <input type="number" matInput [(ngModel)]="cakeRequest.pincode" name="pincode" #pincode="ngModel" pattern="^\d{5}(?:\d{1})?$" required>

                <mat-error *ngIf="pincode.errors?.['required']">Pincode is required</mat-error>
                <mat-error *ngIf="pincode.errors?.['pattern']">Pincode should be 5-digit or 6-digit</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Enter complete address</mat-label>
                <input type="text" matInput name="address" [(ngModel)]="cakeRequest.address" required minlength="10" #address="ngModel">
                <mat-error *ngIf="address.errors?.['required']">Address is required</mat-error>
                <mat-error *ngIf="address.errors?.['minlength']">Address must have minimum length of {{address.errors?.['minlength']?.requiredLength}} characters</mat-error>
            </mat-form-field><br>

            <ng-container *ngIf="cake?.category === 'cake' || cake?.category === 'cupCake'">
                <mat-radio-group name="eggEggles" [(ngModel)]="cakeRequest.eggEggles" required #eggEggles="ngModel">
                    <mat-radio-button value="withEgg">With Egg</mat-radio-button>
                    <mat-radio-button value="withoutEgg">Eggless</mat-radio-button>
                    <mat-error *ngIf="eggEggles.errors?.['required']">Please select an option</mat-error>
                </mat-radio-group><br>
            </ng-container>
                
            <button mat-flat-button color="primary" type="reset" color="accent" id="resetBtn">Reset</button>
            <button mat-flat-button color="primary" type="submit" id="orderNow" [disabled]="orderRequestForm.invalid">Order Now</button>
        </form>
    </div>
</section>
