.cake-card {
  width: 280px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #7a7979;
}

#card-img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 250px;
  object-fit: cover;
}

.card-header {
  font-size: 16px;
}

.rating-wrapper {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.rating-wrapper span {
  font-weight: 500;
  color: #f7a600;
}

#delivery span {
  color: rgb(12, 175, 12);
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

